<template>
  <div class="mainSection">
    <h2>Add a member:</h2>
    <div class="inputBox">
      <div class="errDesc" v-if="error['err'] && error['name'] && error['type'] == 'create'">
        Vardas įvestas klaidingai. Turi atitikti šiuos reikalavimus:
        <ul class="errUl">
          <li>1.Vardas turi būti įvestas</li>
          <li>2.Pirmoji vardo raidė didžioji</li>
          <li>3.Jokių simbolių ar skaičių</li>
        </ul>
      </div>
      <label for="name">Name:</label>
      <input id="name"
        type="text"
        name="name"
        v-model="data.name"
        :class="[{'err': error.name && error.type === 'create'}]"
        placeholder="edit me">
    </div>

    <div class="inputBox">
      <div class="errDesc" v-if="error['err'] && error['surname'] && error['type'] == 'create'">
        Pavardė įvesta klaidingai. Turi atitikti šiuos reikalavimus:
        <ul class="errUl">
          <li>1.Pavardė turi būti įvesta</li>
          <li>2.Pabaiga "-tė"</li>
          <li>3.Jokių simbolių ar skaičių</li>
        </ul>
      </div>
      <label for="surname">Surname:</label>
      <input id="surname"
         type="text"
         name="surname"
         v-model="data.surname"
         :class="[{'err': error.surname && error.type === 'create'}]"
         placeholder="edit me">
    </div>
    <div class="inputBox">
      <div class="errDesc" v-if="error['err'] && error['phone'] && error['type'] == 'create'">
        Telefonas įvestas klaidingai. Turi atitikti šiuos reikalavimus:
        <ul class="errUl">
          <li>1.Lietuvos kodas (+370)</li>
          <li>2.Atitinkama skačių imtis</li>
        </ul>
      </div>
      <label for="phone">Telephone:</label>
      <input id="phone"
             type="text"
             name="phone"
             v-model="data.phone"
             :class="[{'err': error.phone && error.type == 'create'}]"
             placeholder="edit me">
    </div>
    <button class="add" @click="addOne" :disabled="editData.editing !== false"> +</button>
    <div class="editErr">
      <div class="errDesc" v-if="error['err'] && error['name'] && error['type'] == 'edit'">
        Vardas eilutės "{{editData.editing+1}}" įvestas klaidingai. Turi atitikti šiuos reikalavimus:
        <ul class="errUl">
          <li>1.Vardas turi būti įvestas</li>
          <li>2.Pirmoji vardo raidė didžioji</li>
          <li>3.Jokių simbolių ar skaičių</li>
        </ul>
      </div>
      <div class="errDesc" v-if="error['err'] && error['surname'] && error['type'] == 'edit'">
        Pavardė eilutės "{{editData.editing+1}}" klaidinga. Turi atitikti šiuos reikalavimus:
        <ul class="errUl">
          <li>1.Pavardę įvesti privaloma</li>
          <li>2.Pabaiga "-tė"</li>
          <li>3.Jokių simbolių ar skaičių</li>
        </ul>
      </div>
      <div class="errDesc" v-if="error['err'] && error['phone'] && error['type'] == 'edit'">
        Telefono numeris eilutėje "{{editData.editing+1}}" įvestas klaidingai. Turi atitikti šiuos reikalavimus:
        <ul class="errUl">
          <li>1.Lietuvos kodas (+370)</li>
          <li>2.Atitinkama skačių imtis</li>
        </ul>
      </div>
    </div>
    <div class="resultsTable" v-show="results.length > 0">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <th>
            Nr.
          </th>
          <th>
            Vardas
          </th>
          <th>
            Pavardė
          </th>
          <th>
            Telefonas
          </th>
          <th colspan="2">
            Actions
          </th>
        </tr>
        <tr v-for="(result, index) in results" :key="result.id" :class="(result.warning?'warning':'')+' info-'+(index+1)">
          <td>{{ index+1 }}</td>
          <td>
            <div class="data">
              <div v-if="editData.editing === index" class="editable">
                <input :class="[{'err': error.name && error.type == 'edit'}]" type="text" v-model="editData.name">
              </div>
              {{ result.name }}
            </div>
          </td>
          <td>
            <div class="data">
              <div v-if="editData.editing === index" class="editable">
                <input :class="[{'err': error.surname && error.type == 'edit'}]" type="text" v-model="editData.surname">
              </div>
              {{ result.surname }}
            </div>
          </td>
          <td>
            <div class="data dataPhone">
              <div v-if="editData.editing === index" class="editable">
                <input :class="[{'err': error.phone && error.type == 'edit'}]" type="text" v-model="editData.phone">
              </div>
              {{ result.phone }}
            </div>
          </td>
          <td class="edit">
            <a href="#"
               v-if="typeof editData.editing === 'number' && editData.editing == index"
               @click="edit_submit(index)">Done</a>
            <a href="#" v-if="editData.editing === false || editData.editing != index" @click="edit(index)">Edit</a></td>
          <td class="delete">
            <a href="#"
               v-if="typeof editData.editing === 'number' && editData.editing == index"
               @click="edit_close(index)">Cancel</a>
            <a href="#" v-if="editData.editing === false || editData.editing != index" @click="deleteOne(index)">Delete</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import { reactive } from 'vue';

export default {
  name: 'App',
  setup() {
    let data = reactive({
      'name': 'Zee',
      'surname': 'Zeneotė',
      'phone': '+37066666666',
      'editing': false,
      'warning': false,
    });
    let editData = reactive({
      'name': '',
      'surname': '',
      'phone': '',
      'editing': false,
    });
    let results = reactive([]);
    let error  = reactive({
      'name': false,
      'surname': false,
      'phone': false,
      'type': '',
      'err': false,
    });

    // let addOne = () => {
    let addOne = () => {
      if(validation({
        'name': data.name,
        'surname': data.surname,
        'phone': data.phone,
      }, 'create')
      && editData.editing === false) {
        results.push({
          'name': data.name,
          'surname': data.surname,
          'phone': data.phone,
          'editing': false,
          'warning': false,
        });
      }
    }

    let deleteOne = (index) => {
      results.splice(index, 1);
    }

    let edit = (index) => {
      editData.name = results[index].name;
      editData.surname = results[index].surname;
      editData.phone = results[index].phone;
      editData.editing = index;
    }

    let edit_submit = (index) => {
      console.log(validation(editData, 'edit'));
      if(validation(editData, 'edit')) {
        results[index].name = editData.name;
        results[index].surname = editData.surname;
        results[index].phone = editData.phone;
        edit_close();
      }
    }

    let edit_close = () => {
      editData.editing = false;
    }

    /** Validation function */
    let validation = (data, type) => {
      let v_name = /^[A-ZĄČĖĘĮŲŪČŠŽ][a-ząčęėįųūšž]+$/;
      let v_surname = /^[a-ząčęėįųūšžA-ZĄČĖĘĮŲŪČŠŽ]*tė$/;
      let v_phone = /^\+370[0-9]{8}$/;
      for (const [key] of Object.entries(results)) {
        results[key]['warning'] = false;
      }
      error['err'] = false;

      // NAME VALIDATION
      if(v_name.test(data.name)) {
        error['name'] = false;
      } else {
        error['name'] = true;
        error['err'] = true;
        console.log('Incorrect name');
      }

      // SURNAME VALIDATION
      if(v_surname.test(data.surname)) {
        error['surname'] = false;
      } else {
        error['surname'] = true;
        error['err'] = true;
        console.log('Incorrect surname');
      }

      // PHONE VALIDATION
      if(v_phone.test(data.phone)) {
        error['phone'] = false;
      } else {
        error['phone'] = true;
        error['err'] = true;
        console.log('Incorrect phone number');
      }
      // let duplicates;
      //
      // duplicates = doesExist(data)
      // if(duplicates) {
      //   data.warning = true;
      //   error['phone'] = true;
      //   error['err'] = true;
      //   error['type'] = type;
      //   duplicates.forEach((duplicate) => {
      //     results[duplicate]['warning'] = true;
      //   });
      // }

      // Error checking
      if(error['err'] === true) {
        error['type'] = type;
        return false;
      }else {
        return true;
      }
    }

    /* Duplicate data check */
    // let doesExist = (data) => {
    //   let duplicates = false;
    //   for (var key in results) {
    //     if(results[key].editing != true) {
    //       if (results[key].phone == data.phone) {
    //         if(typeof(duplicates) !== 'object') {
    //           duplicates = [key];
    //         }else {
    //           duplicates.push(key);
    //         }
    //       }
    //     }
    //   }
    //
    //   return duplicates;
    // }

    return {
      results,
      data,
      error,
      editData,
      addOne,
      deleteOne,
      edit,
      edit_submit,
      edit_close,
    }
  }
}
</script>

/////////      CSS      /////////////
<style>
h2 {
  color: white;
  text-shadow: 1px 1px 2px black;
  margin-top: 0;
}

.mainSection {
  max-width: 800px;
  padding: 15px;
  box-sizing: border-box;
  margin: 20px auto;
  background-color: #42b983;
  border-radius: 15px;
}

div label {
  display: inline-block;
  width: 80px;
  padding: 10px 5px;
}

.resultsTable {
  margin: 10px;
  text-align: center;
  border-collapse: collapse;
}

.resultsTable th {
  text-transform: uppercase;
  font-size: 11px;
  color: #ffffff;
  padding: 0 0 2px;
}

.errDesc {
  background-color: lightpink;
  padding: 15px 15px 5px 30px;
  color: #992222;
  border-radius: 15px;
  margin-bottom:5px;
}

.errUl {
  margin-top: 0;
}

#name, #surname, #phone {
  border-radius: 15px;
  padding: 4px 8px;
  border: none;
}

.resultsTable .warning td {
  animation: blinkingBackground 2s infinite;
  /*background-color: #ff88ff;*/
}
@keyframes blinkingBackground{
  0%		{ background-color: #ffffff;}
  25%		{ background-color: #ffffbb;}
  50%		{ background-color: #ffff99;}
  75%		{ background-color: #ffffbb;}
  100%	{ background-color: #ffffff;}
}

.warning .dataPhone{
  animation: blinkingFont 2s infinite;
}

@keyframes blinkingFont{
  0%		{ color: #000000;}
  25%		{ color: #992222;}
  50%		{ color: #ff3333;}
  75%		{ color: #992222;}
  100%	{ color: #000000;}
}


.resultsTable td{
  border: 1px SOLID #aaa;
  padding: 20px;
  background-color: white;
}

.data {
  position: relative;
  min-width: 60px;
}

.data .errDesc {
  font-size: 8px;
  padding: 7px;
}

.data .errDesc .errUl {
  padding-left: 12px;
  margin-bottom: 0;
}

.editable {
  position: absolute;
  margin-top: -2px;
  min-width: 60px;
  width: 100%;
}


.editable input {
  width: 100%;
  box-sizing: border-box;
}

.edit a, .delete a {
  font-size: 9px;
  cursor: pointer;
  padding: 6px 4px 6px;
  text-decoration: none;
  text-transform: uppercase;
}

.edit a {
  color: chocolate;
}

.edit a:hover {
  color: white;
  text-shadow: 0 0 1px #5A0000FF, 0 0 3px #5A0000FF, 0 0 5px #803801FF;
}

.delete a {
  color: red;
}

.delete a:hover {
  color: white;
  text-shadow: 0 0 1px #5A0000FF,0 0 3px #5A0000FF, 0 0 5px #5A0000FF;
}

.err {
  background-color: hotpink;
}

label {
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  border-color: #3b3;
  text-align: center;
  font-size: 12px;
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add {
  width: 33px;
  margin: 8px 230px 10px;
  cursor: pointer;
  padding: 5px;
  font-weight: 600;
  color: #fff;
  background-color: #272;
  border-radius: 16px;
  border: none;
  font-size: 15px;
}

.add:hover {
  box-shadow: inset 3px 3px #333;
  text-shadow: -3px -3px #666;
  padding: 7px 3px 3px 7px;
}

.add:active {
  box-shadow: inset 6px 6px #222;
  padding: 10px 0 0 10px;
}

.add:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.add:disabled:hover {
  box-shadow: inset 1px 1px #333;
  text-shadow: -1px -1px #666;
  padding: 6px 4px 4px 6px;
}

</style>
